.bg {
  background-image: url("../Image/book1.jpg");
  height: 60vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

